/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../sass/typography/fonts/icomoon.eot?-gi3b0q");
  src: url("../sass/typography/fonts/icomoon.eot?#iefix-gi3b0q") format("embedded-opentype"), url("../sass/typography/fonts/icomoon.ttf?-gi3b0q") format("truetype"), url("../sass/typography/fonts/icomoon.woff?-gi3b0q") format("woff"), url("../sass/typography/fonts/icomoon.svg?-gi3b0q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e905"; }

.icon-file-empty:before {
  content: "\e924"; }

.icon-floppy-disk:before {
  content: "\e962"; }

.icon-cog:before {
  content: "\e994"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-cross:before {
  content: "\ea0f"; }

/* USER STYLES */
body {
  background-color: #4B5F6D;
  font: 1em "Play", Helvetica, Arial, sans-serif;
  color: #24221F;
  line-height: 1.5; }

h1, h2, h3, h4 {
  margin: .5em 0; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

a {
  color: #00B7FF; }

input {
  border: none; }

.site-nav {
  background-color: #343F45; }

.site-nav--list li {
  color: #5E7C88; }

.site-header--title {
  color: #fff; }

.setting-card {
  background-color: #5E7C88; }

.setting-card--title {
  background-color: #FEB41C; }

.settings-form {
  color: #fff;
  background-color: #343F45; }

.site-nav {
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 100; }

.site-nav--list {
  margin-top: 1em; }

.site-header--title {
  margin: 0.25em 0 0.25em 2.25em; }

.setting-card {
  margin: .5em 0; }

.setting-card--title {
  margin: 0;
  padding: 0.25em 0.65em;
  display: block; }

.editing-card {
  display: inline-block; }

.setting-card--params .param {
  margin: .25em 0; }

.param input {
  display: inline-block; }

.setting-card--params .param:last-child {
  margin: 1em 0; }

.site-content {
  margin: 0 auto; }

.settings-list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.setting-list--card-item {
  margin-right: .5em; }

button, .btn-ok, .btn-caution, .btn-alert {
  font-size: 1em;
  padding: 0.5em 2em;
  border: none;
  border-radius: 3px;
  transition: background-color 0.2s ease; }

.btn-ok {
  background-color: #85DB18; }
  .btn-ok:hover {
    background-color: #69ad13; }

.btn-caution {
  background-color: #FEB41C; }
  .btn-caution:hover {
    background-color: #e69b01; }

.btn-alert {
  background-color: #F2594B; }
  .btn-alert:hover {
    background-color: #ef2d1b; }

.site-nav {
  width: 70px; }

.site-nav--list {
  text-align: center;
  list-style: none; }

.site-nav--list li {
  font-size: 2.5em; }

.setting-card {
  border-radius: .5em;
  overflow: hidden; }

.setting-card--title {
  padding: 0.25em 0.65em;
  display: block; }

.editing-card {
  width: 100%; }

.setting-card--params {
  padding: 1em; }

.setting-card--params .param {
  font-size: 1.25em; }

.param input {
  font-size: 1em;
  width: 100%; }

.setting-card--params .param:last-child {
  margin: 1em 0; }

.site-content {
  width: 1250px; }

.settings-form {
  padding: 1em; }

.settings-list {
  max-width: 100%; }

.setting-list--card-item {
  margin-right: .5em; }
