/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* USER STYLES */

body {
  background-color: #4B5F6D;
  font: 1em "Play", Helvetica, Arial, sans-serif;
  color: #24221F;
	line-height: 1.5;
}

h1, h2, h3, h4 {
  margin: .5em 0;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

a {
  color: #00B7FF;
}

input {
	border: none;
}

.site-nav {
	background-color: #363F45;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 70px;
	z-index: 100;
}

.site-nav--list {
	margin-top: 1em;
	text-align: center;
	list-style: none;
}

.site-nav--list li {
	font-size: 2.5em;
	color: #5E7C88;
}

.site-header--title {
	margin: .25em 0 .25em 2.25em;
  color: #fff;
}

.setting-card {
	margin: .5em 0;
  border-radius: .5em;
  background-color: #5E7C88;
	overflow: hidden;
}

.setting-card--title {
	margin: 0;
	padding: .25em .65em;
	display: block;
	background-color: #FEB41C
}

.editing-card {
	display: inline-block;
	width: 100%;
}

.setting-card--params {
	padding: 1em;
}

.setting-card--params .param {
	font-size: 1.25em;
	margin: .25em 0;
}

.param input {
	font-size: 1em;
	display: inline-block;
	width: 100%;
}

.setting-card--params .param:last-child {
	margin: 1em 0;
}

.site-content {
  width: 1250px;
  margin: 0 auto;
}

.settings-form {
  color: #fff;
  padding: 1em;
  background-color: #363F45;
}

button {
	font-size: 1em;
	padding: .50em 2em;
	border: none;
	border-radius: 3px;
}

.btn-ok {
	background-color: #85DB18;
	transition: background-color .2s ease;
}

.btn-ok:hover {
	background-color: #73BD15;
}

.btn-caution {
	background-color: #FEB41C;
	transition: background-color .2s ease;
}

.btn-caution:hover {
	background-color: #DE9D18;
}

.btn-alert {
	background-color: #F2594B;
	transition: background-color .2s ease;
}

.btn-alert:hover {
	background-color: #CD2C24;
}

.settings-list {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.setting-list--card-item {
	margin-right: .5em;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
