.site-nav {
	background-color: $alpha-color;
}

.site-nav--list li {
	color: $charlie-color;
}

.site-header--title {
  color: #fff;
}

.setting-card {
  background-color: $charlie-color;
}

.setting-card--title {
	background-color: $delta-color
}

.settings-form {
  color: #fff;
  background-color: $alpha-color;
}
