//site colors
$alpha-color: #343F45;
$bravo-color: #4B5F6D;
$charlie-color: #5E7C88;
$delta-color: #FEB41C;

//text color
$site-dark: #24221F;

//alert-colors
$ok-color: #85DB18;
$danger-color: #F2594B;
