//vendor
@import 'reset';

@import 'typography';
@import 'config';

@import 'base';
@import 'color';
@import 'layout';
@import 'buttons';
@import 'modules';

.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.ng-enter.ng-enter-active {
  opacity:1;
}
