<div data-ng-if="setting.editing">
	<h3>You are editing</h3>
	<ul>
		<li class="param">
			<label for="enemyCount">Enemy Count: </label>
			<input id="enemyCount" type="number" data-ng-model="setting.params.maxEnemyCount" >
		</li>
		<li class="param">
			<label for="enemyHealth">Enemy Health: </label>
			<input id="enemyHealth" type="number" data-ng-model="setting.params.maxEnemyHealth">
		</li>
		<li class="param">
			<label for="playerHealth">Player Health: </label>
			<input id="playerHealth" type="number" data-ng-model="setting.params.maxPlayerhealth">
		</li>
		<li>
			<button data-ng-click="setting.editing = false">Cancel</button>
			<button class="btn-ok" data-ng-click="update(setting._id, setting)">Save</button>|
		</li>
	</ul>
</div>
